.tokenCard {
  background: linear-gradient(135deg, #1e1e2e, #2d2d44);
  border-radius: 15px;
  padding: 20px;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.tokenCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 10px 0;
}

.cardHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.tokenName {
  font-size: 24px;
  font-weight: bold;
  color: #00FFFF;
  margin: 0;
  text-align: center;
}

.tokenSymbol {
  font-size: 16px;
  color: #AAAAAA;
}

.tokenImage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.tokenDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.tokenPrice {
  font-size: 28px;
  font-weight: bold;
  color: #FFFFFF;
  margin: 0;
}

.tokenChange {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.positive {
  color: #4CAF50;
}

.negative {
  color: #F44336;
}

.tokenStats {
  display: flex;
  justify-content: space-between;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statLabel {
  font-size: 12px;
  color: #AAAAAA;
  margin-bottom: 5px;
}

.statValue {
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
}

.socialLinks {
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 10px;
}

.socialLinks a {
  color: #FF6D9D;
  margin: 0 5px;
}

.quickBets {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.quickBets button {
  background-color: #FF10F0;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
  .cardContainer {
    grid-template-columns: 1fr;
  }

  .tokenCard {
    padding: 10px;
  }

  .tokenName {
    font-size: 16px;
  }

  .tokenSymbol {
    font-size: 12px;
  }

  .tokenImage {
    width: 50px;
    height: 50px;
  }

  .description {
    -webkit-line-clamp: 2;
  }

  .quickBets button {
    padding: 6px 10px;
    font-size: 11px;
  }
}
